<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="internal-nlog.txt">

  <extensions>
    <add assembly="NLog.Targets.ElasticSearch"/>
  </extensions>

  <targets>
    <target name="c" xsi:type="Console"  layout="${level}|${logger}|${message}|${exception:format=tostring,data}|${all-event-properties}|${message:raw=true}"/>
    <target name="ElasticSearch" xsi:type="BufferingWrapper" flushTimeout="5000">
      <target xsi:type="ElasticSearch" uri="http://localhost:9200" index="test-${date:format=yyyy.MM.dd}" includeAllProperties="true"/>
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="c" />
    <logger name="*" minlevel="Trace" writeTo="ElasticSearch" />
  </rules>
</nlog>